
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Index</h1>
        <p>Hola mundo!</p>
        <ul>
            <li>
                @Html.ActionLink("Insertar Documento OS", "InsertarDocumentoOS")
            </li>
            <li>
                @Html.ActionLink("Insertar Documento FCT", "InsertarDocumentoFCT")
            </li>
        </ul>
    </div>
</body>
</html>
